<p>
	The <a href="talk.html">Talk</a> window only shows you your current
	conversations; to see your history use the browser below.
</p>
<section>
	<ul id="history-list">
		<li>Please Wait.<br/> Loading your history...</li>
	</ul>
</section>
<section>
	<textarea readonly placeholder="Select a conversation"></textarea>
</section>