<p>
	The <a href="talk.html">Talk</a> window only shows you your current
	conversations; to see your history use the browser below.
</p>
<section>
	<select id="users">
		<option disabled selected style='display:none;'>Choose Other User</option><!-- Populated By JS. Filter out the logged in users name --></select>
	</select>
	<ul id="history-list">
		<li>Choose a User</li>
	</ul>
</section>
<section>
	<textarea readonly placeholder="Select a conversation"></textarea>
</section>