<p>
	Welcome to private chat, a simple web interface to talking to people you
	care about. <a href="http://www.ethanjoachimeldridge.info">I</a> made this
	website to talk to a dear friend while she was overseas. If you find this 
	tool useful or have suggestions on improvements, feel free to <a href="http://www.ethanjoachimeldridge.info/contact.html">tell me</a>.
</p>
<div>
	<a name="login" href="login.html">Login</a>
	<a name="register" href="register.html">Register</a>
</div>