<p>
	You may use the form below to register for the system. Please consult the 
	site owner for the Admin Code if you would like to use the system.
</p>
<div>
	<%- partial('_partials/register-form') %>
</div>