<form action="/pci/reply.cgi" method="POST">
	<textarea required="required" placeholder="Start typing your message" name="message"></textarea>
	<div>
		<input type="submit" value="Message" />
		<select name="user" required="required">
			<option disabled selected style='display:none;'>Choose Recipient</option><!-- Populated By JS. Filter out the logged in users name --></select>
	</div>
</form>

<div id="conversation"></div>

<a href="history.html">See History Browser</a>
<script type="text/javascript" src="/js/jquery.min.1.9.1.js"></script>
<script type="text/javascript" src="/js/talk.js"></script>