<form action="<%= pcidomain %>create-user.cgi" method="POST">
	<input placeholder="Username" name="username" value="" type="text" size="32" maxlength="32" pattern="[^0-9]+" title="Enter a non-numeric username" />
	<input placeholder="Admin Code" name="adminpassword" value="" type="password" size="32" maxlength="32" pattern="[^ ]" title="Enter the secret code given to you" />
	<input type="submit" value="Register" />
</form>